@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-bold-webfont.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-bold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-extrabold-webfont.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-extrabold-webfont.woff") format("woff");
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-light-webfont.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-light-webfont.woff") format("woff");
    font-weight: 200;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-medium-webfont.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-medium-webfont.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-regular-webfont.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-regular-webfont.woff") format("woff");
    font-weight: 300;
}
@font-face {
    font-family: "Gilroy";
    src: url("/fonts/gilroy/gilroy-semibold-webfont.woff2") format("woff2"),
        url("/fonts/gilroy/gilroy-semibold-webfont.woff") format("woff");
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

a,
button,
.nav-item,
.MuiTab-wrapper,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
    font-family: "Gilroy", sans-serif;
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
    font-weight: 600;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

h6 {
    font-size: 1rem;
    font-weight: 600;
}

input[type="text"] {
    font-weight: 300;
}

button {
    border-radius: 4px !important;

    span {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5;
    }
}
button:hover {
    background-color: #c5ccd0;
}

.mybtn, .my-btn {
    padding: 6px 12px !important;
    border-radius: 4px;

    span {
        font-family: 'Gilroy', sans-serif;

        @media (min-width: 1600px) {
            font-size: 1.1rem;
        }
    }
    @media (min-width: 1600px) {
        padding: 8px 16px !important;
    }
}

.join-btn:hover {
    background-color: #3f51b5 !important;
}

a,
span {
    text-decoration: none;
}

.main-content {
    position: relative !important;
    min-height: 100vh;
    padding: 0 !important;
    top: -3px;
}

.MuiCircularProgress-root {
    margin: 10vh 0 12vh !important;
}

div::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
}

div::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    /* color of the scroll thumb */
    border-radius: 20px;
    border-right: solid 2px white;
}

pre[class*="language-"]{
    max-height: 800px
}

input {
    font-family: 'Gilroy', sans-serif !important;
}

.MuiInputBase-input, *[class^="MuiTypography"] {
    font-family: "Gilroy", sans-serif !important;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

@import "Navbar.module.scss";
@import "Home.module.scss";
@import "Subject.module.scss";
@import "Material.module.scss";
@import "Sign.module.scss";
@import "Post.module.scss";
