.home-landing-bg {
    position: relative;
    width: 100%;
    margin-bottom: 5%;
    top: -4px;
}

.home-container {
    margin-top: -50vw;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7.5vw 18%;
    margin-bottom: -7rem;
    // padding-top: 15%;

    h2 {
        position: relative;
        color: white;
        margin-block: 0 !important;
        text-align: center;
        font-size: 3.5vw;
        letter-spacing: 1.25px !important;
        font-weight: 400;
        padding: 10px;

        span {
            color: #ffb562;
            font-weight: 500;
        }
    }

    p {
        text-align: center;
        color: white;
        font-size: 1.75vw;
        font-weight: 300;
        padding: 2.5% 5%;
        margin-bottom: 2%;
        position: relative;
    }

    .sign-btn {
        background-color: white !important;
        border: 2px solid white !important;

        span {
            color: #3f51b5 !important;
            font-weight: 500;
            text-decoration: none;
        }
    }

    .learn-btn {
        color: white !important;
        border: 2px solid white !important;
    }
}

.features {
    background: #f5faff;
    padding-top: 18vw !important;
    padding-bottom: 50px;

    @media (min-width: 1600px) {
        padding-top: 16vw !important;
    }

    .feature-item {
        width: 260px;
        margin: 20px 5px;

        .feature-container {
            padding: 25px;
            height: 300px;
            text-align: left;
            border: 1px solid #c5ccd0;
            display: inline-block;

            .feature-icon {
                margin-bottom: 20px;
            }

            h5 {
                margin: 0;
            }

            p {
                margin-top: 20px;
                color: #838293;
                line-height: 2;
                font-weight: 300;
            }

            .feature-number {
                color: #2196f3;
                font-size: 1.75rem;
                font-weight: 700;
            }
        }
    }
}

.subtitle {
    text-align: center;

    h4 {
        line-height: 1.5;
        margin-bottom: 1rem;
        span:last-child {
            font-weight: 400;
        }

        .for-all {
            color: #3f51b5;
            font-weight: 600 !important;
        }

        .best-way {
            color: #8a949d;
            font-size: 1.25rem;
            margin-bottom: 2.5%;
        }
    }
}

.course {
    width: 100%;
    padding: 50px 0;

    .course-container {
        position: relative;
        margin: 20px;
        padding: 25px 30px 30px;
        width: 343px;
        text-align: left;
        border: solid 1.5px #c5ccd0;
        border-radius: 8px;
        display: inline-block;
        background-color: white;

        @media (min-width: 1537px) {
            width: 332px;
        }

        .course-content {
            display: flex;
            align-items: center;

            .img-container {
                width: 40%;
                height: 60px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                div {
                    height: 55px;
                    width: 55px;
                    font-family: "Gilroy", sans-serif;
                    font-size: 14px;
                    font-weight:300;
                    text-align: center;
                }

                img {
                    width: 100%;
                    border-radius: 100%;
                }
            }

            .review-container {
                position: relative;
                width: 60%;
                align-items: center;
                display: flex;

                .star {
                    margin-left: auto;
                    margin-right: 8px;
                }

                p {
                    font-weight: 500;
                }
            }
        }

        .course-name {
            h5 {
                margin: 10px 0 5px;
                text-align: left;
                text-transform: capitalize;
                font-size: 19px !important;
            }
        }

        .course-desc {
            height: 60px;
            line-height: 1.5;
            font-size: 0.8rem;
            color: #8698a3;
            overflow-y: hidden;
            margin-bottom: 5px;
        }

        .btm-container {
            display: flex;
            margin: 20px auto 0;
            align-items: center;

            .price-tag-container {
                width: 45%;
                text-align: center;
                background-color: rgb(135, 150, 231, 0.13);
                border: solid 2px #3f51b5;
                border-radius: 4px;
                padding: 5px;
                color: #3f51b5;
                font-weight: 500;
                margin-right: 10px;
            }

            .join-btn-container {
                width: 55% !important;
                margin-left: 5px;

                .join-btn {
                    background-color: #3f51b5;
                    color: white;
                    width: 100%;
                    border: solid 1.5px #3f51b5;

                    span {
                        font-size: 0.85rem !important;
                    }
                }
            }

            .enrolled-tag {
                border: solid 2px #2cb98f !important;

                background-color: rgba(44, 185, 143, 0.1) ;

                div {
                    color: #2cb98f !important;
                }
            }

            .pending-tag {
                border: solid 2px #b9af2c !important;
                background-color: rgba(185, 175, 44, 0.1);

                div {
                    color: #b9af2c !important;
                }
            }
        }
    }
}
@keyframes flipLeft {
    0% {
        opacity: 0;
        transform: rotateY(-270deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(-360deg);
    }
}

.instructor-container {
    margin: 15px 0 10px;
    display: flex;
    align-items: center;

    .img-container {
        width: 15%;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }

    .name-container {
        width: 70%;
        margin-left: 20px;

        h6 {
            margin-bottom: 5px;
        }

        p {
            font-size: 12px;
        }
    }
}

.more-instructors {
    color: #3f51b5;
    display: block;
    text-decoration: underline !important;
    min-height: 20px;
}

.testi {
    background: #f5faff;
    padding: 50px 0 100px;

    .testi-container {
        width: 330px;
        padding: 25px;
        margin: 15px 0 10px;
        text-align: left;
        height: 320px;
        position: relative;
        border: solid 1px #c5ccd0;
        display: inline-block;

        .petik-container {
            padding: 5px;
            width: 100%;
            margin-bottom: 15px;

            img {
                position: relative;
                width: 15%;
            }
        }

        .comment-container {
            height: 90px;

            .comment {
                color: #8698a3;
                font-weight: 400 !important;
                font-size: 1.25rem !important;
            }
        }

        .instructor-container {
            top: 66%;
            position: absolute !important;
            padding-bottom: 25px;
            width: 280px;
        }
    }
}

.carousel {
    svg {
        cursor: pointer;
    }

    .slick-list {
        // width: 90%;
        padding: 0 2.5% !important;

        @media (max-width: 1160px) {
            left: -2.5%;
        }
    }

    .slick-slider {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin: 0 auto;
    }

    .slick-track {
        // width: 100%!important;
    }

    .arrow {
        display: inline-block;
        width: 40px;
    }

    .arrow:hover {
        transform: scale(1.2);
    }

    .slick-slide {
        // width: 300px!important;
        opacity: 0;
    }

    .slick-slide:active {
        border: none !important;
        outline: none !important;
    }

    .slick-active {
        opacity: 1;
        display: block;
    }

    .slide {
        transform: scale(0.8) !important;
        transform-origin: center center;
        position: relative;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        outline: none !important;

        @media (max-width: 1160px) {
            transform: scale(1) !important;
        }
    }

    .slide:active {
        outline: none !important;
    }

    .activeSlide {
        transform: scale(1) !important;
        z-index: 3;
        left: -1.5%;

        @media (max-width: 1160px) {
            transform: scale(1) !important;
            left: 0;
        }
    }
}
