.material {
    margin-top: 64px;
    padding: 0 4% !important;

    div[role^="combobox"] {
        position: relative !important;

        span {
            font-weight: 300 !important;
        }
    }

    div[role="dialog"] {
        width: 400px;
        min-height: 535px;
        max-width: 100%;
    
        input {
            width: 100% !important;
        }
    }
    

    div[role^="combobox"] > div {
        width: 100%;
    }

    ul[role^="listbox"] {
        width: 100%;
    }

    .search-box-container {
        margin: 80px 0 20px;
        padding: 5px 10px 5px 20px;
        display: flex;
        align-items: center;
        border: solid 1.5px #c5ccd0;
        border-radius: 8px;

        button:hover,
        span:hover {
            background-color: white !important;
            border-radius: 0;
        }

        .search-bar {
            width: 100%;

            input {
                width: 100%;
            }
        }

        button {
            border-radius: 100% !important;

            .search-btn {
                margin-left: auto;
                font-size: 1.5rem;
                color: #c5ccd0;
            }
        }

        button:hover {
            .search-btn:hover {
                color: #3f51b5 !important;
            }
        }
    }

    .course-number {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .course-number-content {
            background: rgba(255, 181, 98, 0.128442);
            padding: 5px 10px;
            border-radius: 4px;
            border: solid 1px #ffb562;
            color: #ffb562;
            width: 135px;
            margin-right: auto;
            text-align: center;
            font-weight: 400;
        }

        .filter {
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.54);
        }

        button {
            border-radius: 100% !important;
        }

        button:hover {
            background-color: transparent;
        }
    }
}

.filter-modal {
    position: absolute !important;
    top: 0;
    left: 0;

    div[class^="MuiDialogContent"] {
        padding: 15px 30px;     
        width: clamp(350px, 40vw, 400px);
        margin: 0 auto;
    }

    div[class^="MuiDialogTitle-root"] {
        display: flex;
        align-items: center;

        button {
            position: relative !important;
            top: 0 !important;
            right: 0 !important;
        }

        h6 {
            width: 100%;
            font-weight: 500 !important;
            font-size: 1.25rem;
        }
    }

    span[class^="PrivateValueLabel-circle"] {
        display: flex;
        border-radius: 2px;
        transform: rotate(0);
        padding: 0 2px;
        width: 64px;

        span {
            display: flex;
            transform: rotate(0);
        }
    }

    span[class^="PrivateValueLabel-circle"]::after {
        content: "";
        position: absolute;
        background-color: #3f51b5;
        z-index: -20;
        height: 20px;
        width: 20px;
        transform: rotateZ(45deg);
        bottom: 0;
        left: calc(50%-10px);
    }

    .price-range-dom {
        font-family: 'Gilroy', sans-serif !important;
        margin-left: 20px;
        font-size: .75rem;
        padding-top: 3px;
    }

    .rating-filter-container {
        label {
            display: block;
            width: 100%;
        }

        .MuiRating-iconFilled {
            color: #3f51b5;
        }
    }

    .clear-filter {
        span {
            color: crimson;
        }
    }

    button {
        span {
            font-family: 'Gilroy', sans-serif !important;
        }
    }
}

.apply-filter-title {
    font-weight: 400 !important;
    margin-bottom: 20px;
}

div[role^="combobox"] {
    position: relative !important;

    span {
        font-weight: 300 !important;
    }
}

div[role^="combobox"] > div {
    width: 100%;
}

ul[role^="listbox"] {
    width: 100%;
}

.MuiFormControl-root {
    width: 100% !important;
}

.modal-btn {
    padding: 4px 8px !important;
    margin-left: 15px !important;
    font-size: 0.875rem !important;
}

.unread-container {
    margin: 0 0 0 auto !important;
    height: 100%;

    .unread {
        font-size: 0.75rem !important;
        width: 100% !important;
        position: relative;
        top: -10px;
    }
}

.load-more {
    margin: 50px auto;

    h4 {
        font-weight: 400;
        color: #c5ccd0;

        span {
            display: none;
        }
    }
}

.load-more:hover {
    transform: scale(1.1);
    cursor: pointer;

    h4 {
        color: #3f51b5;

        span {
            animation: dot 1.5s ease-in infinite;
            display: inline-block;
            transition: none !important;
        }

        span:nth-child(1) {
            animation-delay: 0.3s;
        }

        span:nth-child(2) {
            animation-delay: 0.6s;
        }

        span:nth-child(3) {
            animation-delay: 0.9s;
        }

        span:nth-child(4) {
            animation-delay: 1.2s;
        }

        span:nth-child(5) {
            animation-delay: 1.5s;
        }
    }
}

.no-course {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    svg,
    h4 {
        color: #e1e1e1;
    }

    svg {
        font-size: 12rem;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
