.navbar,
.navbar-1 {
    position: absolute!important;
    top: 0;
    background-color: transparent!important;
    box-shadow: none!important;
    height: 72px;
    align-items: flex-start;
    justify-content: center;
    z-index: 5!important;

    button {
        min-width: 0 !important;
    }

    // height:100%
    .container {
        display: flex;
        align-items: center;
        padding: 0 50px !important;

        .brands {
            width: 90px;
            margin-top: 5px;

            img {
                position: relative;
                width: 100%;
            }
        }

        span {
            color: white;
            font-weight: 400;
        }

        .nav-menu {
            margin-left: auto;
            display: flex;
            width: calc(89% - 41px);
            align-items: center;
        }

        .right-nav {
            button {
                svg {
                    color: #ABABAB!important;
                }
            }
        }

        .right-nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button {
                margin-left: 10px;
                border-radius: 100%!important;
            }

            svg {
                font-size: 1.25rem;
            }
            button:hover {
                background-color: #C5CCD0;
            }
            .MuiTouchRipple-root:hover {
                background: transparent!important;
            }
        }
    }

    .sign-btn {
        background-color: white!important;
        border: 1px solid white!important;

        span {
            color: #3F51B5!important;
            font-weight: 600;
            text-decoration: none;
            min-width: 64px;
        }
    }
}

.navbar-1 {
    span {
        color: #1B1642!important;
    }

    .MuiBadge-badge {
        color: white!important;
    }

    .sign-btn {
        background-color: #3F51B5!important;
        border: 2px solid #3F51B5!important;

        span {
            color: white!important;

            text-decoration: none;
        }
    }
}

.footer {
    background-color:#1B1642;
    padding: 40px 0;
    position: relative;
    z-index: 10;

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;

        @media (max-width: 875px) {
            justify-content: flex-start;
        }

        & > div {
            min-width: 150px;
            width: auto;
            max-width: 180px;
            margin: 15px 50px;
        }

        .identity {
            min-width: 180px;
        }

        img {
            width: 100%;
            margin-bottom: 10px;
        }

        p, h5, h6, svg {
            color: white;
        }

        h5, h6 {
            font-weight: 400;
        }

        .address {
            font-size: 14px;
            margin-bottom: 5px;
        }

        li {
            padding: 0;
            color: rgba(255,255,255, .6);
            font-size: 14px;
            margin: 5px 0;
        }

        .social-media-container {
            min-width: 100px;
            width: 100px !important;
            margin-right: 30px;

            @media (min-width: 625px) and (max-width: 875px) {
                margin-left: 80px;
            }
            
            h6 {
                margin-bottom: 20px;
            }

            .social-media {
                display: flex;
                flex-flow: wrap;

                svg {
                    font-size: 28px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                }
            }
        }
        
    }
}

.popout-menu {
    min-width: 180px;
    padding: 5px;

    ul {
        padding: 0 !important;
    }

    li {
        align-items: center;
        color: #3e3e3e;
        padding: 10px;
    }
    svg {
        font-size: 1.25rem;
        margin-left: 10px;
    }
}

.nav-item {
    text-transform: capitalize;
    font-weight: 500 !important;
}

.notif-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .notif {
        min-width: 0!important;
        border-radius: 100%!important;
        font-size: 1rem;
        padding: 4px !important;

        svg {
            font-size: 1.1rem;
        }
    }

}

.profile-picture {
    margin-left: 15px !important;
    width: auto;

    button {
        margin: 0 !important;

        div {
            width: 32px;
            height: 32px;
        }

        img {
            width: 100%;
            border-radius: 100%;
        }

        svg {
            font-size: 2rem!important;
        }
    }
    button:hover,
    svg:hover {
        background: transparent!important;
    }

    .MuiAvatar-root {
        font-size: 100% !important;
    }
}

.notification-box {
    position: relative;
    transform: translate(30px, 15px)!important;
    border-radius: 16px!important;
    border: solid 1.5px #c7c7c7;
    width: 275px;
    max-height: 275px;
    padding: 8px 0;

    .notifications-item {
        box-shadow: none;
        border-bottom: solid 1.5px #c7c7c7;
        padding: 12px 20px;
    }

    .notification-item {
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
        box-shadow: none;
        flex-wrap: nowrap;

        .avatar-container {
            margin-right: 10px;
            padding-top: 5px;

            div {
                width: 20px;
                height: 20px;
            }
        }

        p {
            margin-block: 0 !important;
            margin-inline: 0 !important;
            font-weight: 300;
            white-space: normal;
            font-size: 0.85rem;
            line-height: 1.5;
            color: #555757;
            margin-bottom: 10px !important;
        }

        span {
            font-weight: 500;
            font-size: 0.85rem;
            line-height: 1;
        }

        .unread-container {
            width: 10px;
            height: 10px;
            align-self: center;

            circle {
                color: #dd5951;
            }
        }
    }

    .see-all {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0 7px;
        z-index: 20;

        span {
            color: #3F51B5!important;
        }
        span:hover {
            color: #1B1642!important;
        }
    }

    .no-notif {
        padding: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            color: #3F51B5!important;
        }
    }
    .no-notif:hover,
    .see-all:hover {
        cursor: pointer;
    }
}

.notification-box::after {
    content: '';
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    border-left: solid 1.5px #c7c7c7;
    border-top: solid 1.5px #c7c7c7;
    border-radius: 3px;
    transform: rotateZ(45deg);
    top: -11.22px;
    left: calc(100% - 54px);
}

.notif-container {
    display: block;

    .paper-container {
        max-height: 216px;
        overflow-y: auto;
        box-shadow: none;

    }
}

.align-end {
    margin-left: auto !important;
}