.subject-container {
    padding: 0 36px !important;
    padding-top: 64px !important;
    position: relative;

    .breadcrumb {
        margin: 30px 0;

        a {
            color: #3f51b5 !important;
        }

        @media (min-width: 1536px) {
            padding: 0 7%;
        }
    }

    .subject-header-container {
        @media (min-width: 1536px) {
            padding: 0 !important;
        }
    }

    .subject-header {
        position: relative;
        background-image: url("../public/images/subject-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 12px 0 36px;
        width: 100%;
        margin: 0 auto 10px;
        display: block;
        overflow-x: hidden;

        @media (min-width: 1536px) {
            width: 116%;
            margin: 0 -8% 10px;
            padding: 12px 16px 36px;
            background-size: 100% 100%;
        }

        .subject {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-flow: row wrap-reverse;

            @media (min-width: 1536px) {
                padding: 0 7%;
            }
        }

        .subject-header-desc {
            flex-grow: 1;
            max-width: clamp(350px, 70%, 960px);
            margin-right: 12px;

            .creator-container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 15px;

                .creator-logo {
                    height: auto;
                    display: flex;
                    width: auto;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;

                    div {
                        width: 55px;
                        height: 55px;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }

                .org-desc {
                    h5 {
                        font-weight: 600;
                        margin: 5px 0;
                    }
                }

                .creator-desc {
                    h6 {
                        font-weight: 600;
                        margin: 5px 0;
                    }

                    .creator-name {
                        font-weight: normal;
                        text-align: left;
                        line-height: 19px;
                        color: #3f51b5;
                    }
                }
            }

            .subject-title {
                h2 {
                    font-weight: 700;
                    margin-bottom: 5px;
                }
            }

            .subject-desc {
                margin-bottom: 20px;

                h5 {
                    margin: 0;
                    color: #787780;
                    font-weight: 400;
                    font-size: 1.2rem;
                }
            }

            .subject-rating {
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: transparent;
                flex-grow: 1;

                svg {
                    margin-right: 5px;
                }

                span {
                    font-family: 'Gilroy', sans-serif !important;
                    font-weight: 600;
                }
            }

            span {
                font-weight: 500;
            }
        }

        .subject-header-button {
            position: relative;
            display: flex;
            margin: 0;
            align-items: flex-start;
            justify-content: flex-end;
            margin-left: auto;
            width: auto;
            min-width: 250px;

            .btn-container {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;

                .price-tag-container {
                    flex-grow: 1;
                    text-align: center;
                    background-color: rgb(135, 150, 231, 0.13);
                    border: solid 2px #3f51b5;
                    border-radius: 4px;
                    padding: 5px;
                    font-family: "Gilroy", sans-serif !important;
                    color: #3f51b5;
                    font-weight: 500;
                }

                .join-btn {
                    background-color: #3f51b5;
                    font-family: "Gilroy", sans-serif !important;
                    color: white;
                    width: auto;
                    margin-left: 16px;
                    padding: 6px 24px !important;

                    span {
                        font-size: 0.9rem !important;
                    }
                }

                .enrolled-tag {
                    border: solid 2px #2cb98f !important;
                    background-color: rgba(44, 185, 143, 0.1);
                    color: #2cb98f !important;
                }

                .pending-tag {
                    border: solid 2px #b9af2c !important;
                    background-color: rgba(185, 175, 44, 0.1);
                    color: #b9af2c !important;
                }
            }
        }
    }

    .subject-instructors {
        padding: 16px 18px;

        @media (max-width: 1535px) {
            padding: 16px 0;
        }

        .instructors-title {
            padding-bottom: 10px;
            font-style: normal;
            font-weight: 600;
            font-size: 0.9rem;
        }

        .instructor-container {
            display: flex;
            align-items: center;

            .instructor-logo {
                display: flex;
                align-items: center;
                margin-right: 15px;

                .logo {
                    width: 36px;
                    height: 36px;
                }
            }

            .instructor-desc {
                h6 {
                    font-size: 0.9rem;
                }

                span {
                    font-size: 0.8rem;
                    font-weight: 400;
                    text-decoration: none;
                    color: black;
                    font-family: 'Gilroy', sans-serif !important;
                }
            }
        }
    }

    .subject-home,
    .subject-discussion,
    .post-item-page {
        padding: 1%;

        .tag {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #4494c1;
            background-color: #e3ecf185;
            padding: 5px 10px;
            border-radius: 4px;
            border: solid 1px #4494c1;

            svg {
                font-size: 1rem;
                margin-left: 5px;
                color: rgba(0, 0, 0, 0.5);
            }

            svg:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        .filter-dialog {
            position: fixed !important;
        }

        .post-filter,
        .discussion-filter {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 30px;


            .create-post-container {
                height: auto;
                min-width: 205px;
                margin-right: 15px;

                @media (max-width: 1024px) {
                    min-width: 180px;
                }

                .create-post-btn {
                    color: white;
                    background-color: #3f51b5;
                    padding: 8px 16px !important;
                    font-family: "Gilroy", sans-serif !important;

                    span {
                        font-weight: 400;
                        width: auto;
                    }

                    @media (max-width: 1024px) {
                        span,
                        svg {
                            font-size: 0.9rem;
                        }
                    }
                }
            }

            .search-post {
                width: 100%;
                margin-left: auto;
                border: solid 1px #c5ccd0;
                border-radius: 4px;

                .input-container {
                    padding: 3px 16px;
                    display: flex;
                    align-items: center;

                    .MuiInputBase-root,
                    input {
                        width: 100%;
                    }
                }

                svg {
                    margin-left: auto;
                }
            }
        }

        .second-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            .syllabus {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                button {
                    padding-left: 0 !important;

                    svg {
                        color: black !important;
                    }
                }

                p {
                    margin-left: 10px;
                    font-weight: 500;
                }
            }

            .filter {
                margin-left: auto;
            }
        }

        .post-box {
            position: relative;
            margin-bottom: 50px;
            padding: 0 35px 35px;
            border: solid 1px #c5ccd0;
            border-radius: 8px;

            .post-header {
                padding: 3% 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                svg {
                    color: rgb(110, 110, 110);
                }

                .title-container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    flex-direction: row;

                    svg {
                        margin: 4px 0;
                        color: black;
                        margin-right: 20px;
                    }

                    .title {
                        display: block;

                        h5 {
                            display: block;
                            line-height: 1 !important;
                            font-weight: 500;
                        }

                        p {
                            display: block;
                            color: #7a7982;
                            font-size: 1rem;
                            font-weight: 300;
                        }
                    }
                }
            }

            hr {
                margin: 0 -35px;
                margin-block: 0;
                margin-inline-bottom: 0;
                height: 0;
                border: none;
                border-top: solid 1px #c5ccd0;
                color: transparent;
            }

            .post-body {
                padding: 3% 0;
                margin: 3% 1.5%;

                &.limited {
                    max-height: 450px;
                    overflow-y: hidden;
                }

                .read-more {
                    color: #3f51b5;
                    font-weight: 500;
                }

                .read-more:hover {
                    color: #221491;
                    cursor: pointer;
                }

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-weight: 400;
                    margin-bottom: 5px;
                }

                p,
                span {
                    margin-top: 0 !important;
                    line-height: 1.75;
                }

                h1 {
                    font-size: 2.5rem;
                    margin-bottom: 30px;
                }

                h2 {
                    font-size: 2;
                }

                h3 {
                    font-size: 1.75rem;
                }

                h6 {
                    margin-bottom: 40px;

                    strong {
                        font-weight: 400;
                    }
                }

                strong {
                    font-weight: 600;
                }

                p + p {
                    margin-bottom: 15px;
                }

                table {
                    margin: 20px 0;

                    p {
                        margin: 10px 0;
                    }
                }

                ul + ul {
                    margin: 20px 0;
                }

                ul {
                    list-style-position: outside;
                    padding-inline-start: 20px;
                }

                tbody {
                    display: table-header-group !important;
                }

                tr {
                    display: revert !important;
                }

                td {
                    padding: 5px 10px !important;
                }

                .read-less {
                    margin: 20px 0;
                    display: block;
                    text-align: right;
                    color: #3f51b5;
                }

                .read-less:hover {
                    color: #221491;
                    cursor: pointer;
                }
            }

            .post-middle {
                margin: 0 -35px;
                padding: 1.5% 35px;
                background-color: #f6f8fb;
            }

            .attachment {
                display: flex;
                align-items: center;

                span {
                    font-size: 0.9rem;
                    font-weight: 300;
                }

                svg {
                    margin-right: 10px;
                    font-size: 0.9rem;
                    font-weight: 300;
                }

                .attachment-number {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }

                .download {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-left: auto;

                    span,
                    svg {
                        color: #3f51b5;
                        font-weight: 400;
                    }
                }

                .download:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .attached-files {
                margin: 20px 0;

                .attached-file {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 4px 8px;
                    border-radius: 4px;
                    width: 175px;
                    border: solid 1px #3f51b5;
                    background-color: rgba(63, 81, 181, 0.1338);
                    color: #3f51b5;

                    svg {
                        font-size: 1rem;
                        margin-right: 10px;
                    }

                    p {
                        width: 150px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

            .post-comment {
                display: flex;
                align-items: center;
                margin: 15px 0;

                .icon {
                    display: flex;
                    align-items: center;
                    margin-right: 15px;

                    span {
                        font-size: 0.9rem;
                        color: #ababab;
                    }

                    svg {
                        font-size: 0.9rem;
                        margin-right: 8px;
                        color: #ababab;
                    }
                }
            }
        }
    }

    .comment-container {
        margin: 20px 0 0;

        .comment-item {
            margin: 10px 0;

            .commentator-ava {
                width: 25px;
                height: 25px;
                margin-right: 15px;
            }

            .commentator-name {
                font-weight: 500;
                font-size: 0.9rem;
                margin-right: 15px;
            }

            .comment-date {
                color: #a6a3ba;
                font-size: 0.8rem;
                font-weight: 300;
            }

            .comment {
                color: #81808a;
                font-weight: 400;
                font-size: 0.9rem;
            }
        }

        .comment-item:last-child {
            margin-bottom: 20px;
        }
    }

    .comment-input-box {
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 1px #c5ccd0;
        border-radius: 4px;
        padding: 0 15px;

        textarea {
            padding: 15px 0;
            height: 46px !important;
            width: 100%;
            resize: none;
            border: none;
            font-family: "Gilroy", sans-serif;
            font-weight: 300;

            ::placeholder {
                color: #c5ccd0 !important;
            }
        }

        textarea:focus {
            border: none;
            outline: none;
        }

        .send-btn {
            display: flex;
            align-items: center;
            margin-left: auto;

            svg {
                color: #c5ccd0;
            }
        }
    }

    .tab-container {
        margin-bottom: 2% !important;
    }

    .MuiTab-root {
        width: 120px !important;
    }

    .subject-discussion {
    }

    .subject-exercise {
    }

    .subject-exercise-list {
        .item-exam {
            display: flex;
            flex: 1;
            flex-direction: row;
            margin-top: 35px;
            padding: 8px;

            .item-exam-stats {
                display: flex;
                align-items: center;
                flex-direction: column;
                flex: 1;

                .divider {
                    margin-top: 16px;
                    margin-bottom: 8px;
                    width: 100%;
                }
                .text-score {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                    text-align: center;
                    color: #1b1642;
                }
                .text-pass {
                    color: #8dc883;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                }
            }

            .item-exam-name {
                flex: 4;
                margin-left: 40px;

                .item-exam-name-title {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: #1b1642;
                }
                .item-exam-name-desc {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: #1b1642;
                }
            }

            .item-exam-about {
                display: flex;
                flex: 2;
                flex-direction: column;
                justify-content: space-between;

                .item-exam-about-problem {
                    padding: 8px;
                    align-content: center;
                    justify-content: center;
                    width: fit-content;
                    background: #ffb562;
                    border-radius: 16px;
                }
            }

            .light-label {
                margin-top: 8px;
                font-family: Lato;
                font-style: italic;
                font-weight: 300;
                font-size: 12px;
                line-height: 14px;
                color: #1b1642;
            }
        }
    }

    .subject-exercise-create {
        .file-container {
            min-height: 400px;
            padding: 0 1rem;
            margin: 3rem auto 0rem;
            border: 1px solid #596a75;
            border-radius: 20px;
            background-color: rgba(242, 250, 255, 0.57);

            .file-item {
                width: 100%;
                height: 51px;
                margin-top: 19px;
                background: #ffffff;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
                border-radius: 10px;

                .text-file-item {
                    padding-top: 11px;
                    padding-bottom: 7px;
                }
            }

            input[type="file"] {
                display: none;
            }
        }
    }

    .subject-exam-list {
        .item-exam {
            display: flex;
            flex: 1;
            flex-direction: row;
            margin-top: 35px;
            padding: 8px;

            .item-exam-stats {
                display: flex;
                align-items: center;
                flex-direction: column;
                flex: 1;

                .divider {
                    margin-top: 16px;
                    margin-bottom: 8px;
                    width: 100%;
                }
                .text-score {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                    text-align: center;
                    color: #1b1642;
                }
                .text-pass {
                    color: #8dc883;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                }
            }

            .item-exam-name {
                flex: 4;
                margin-left: 40px;

                .item-exam-name-title {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: #1b1642;
                }
                .item-exam-name-desc {
                    font-family: Lato;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: #1b1642;
                }
            }

            .item-exam-about {
                display: flex;
                flex: 2;
                flex-direction: column;
                justify-content: space-between;

                .item-exam-about-problem {
                    padding: 8px;
                    align-content: center;
                    justify-content: center;
                    width: fit-content;
                    background: #ffb562;
                    border-radius: 16px;
                }
            }

            .light-label {
                margin-top: 8px;
                font-family: Lato;
                font-style: italic;
                font-weight: 300;
                font-size: 12px;
                line-height: 14px;
                color: #1b1642;
            }
        }
    }

    .subject-exercise-student-create {
        display: flex;
        flex-direction: column;

        .header-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            .close-icon {
                height: 36px;
                width: 36px;
            }
        }

        .exercise-settings-container {
            padding: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
            background: #ffffff;
            border: 1px solid #d8d5e4;

            .exercise-setting-container {
                padding-top: 40px;
                padding-bottom: 40px;
                display: flex;
                flex-direction: row;

                .exercise-setting-type {
                    flex: 1;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 24px;
                    color: #000000;
                }

                .exercise-setting-option-container {
                    flex: 2;
                    display: flex;
                    flex-direction: column;

                    .custom-option {
                        margin-top: 24px;
                        width: 20ch;
                    }
                }

                .start-button {
                    border-radius: 4px;
                    padding-left: 16px;
                    padding-right: 16px;
                    padding-top: 10px;
                    padding-bottom: 9px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    color: #ffffff;
                }
            }

            .divider {
                height: 1px;
                background: #d8d5e4;
                margin-left: 40px;
                margin-right: 40px;
            }
        }
    }
}

.purple {
    color: #5f4cf1 !important;
}

.edit-course {
    padding: 25px;
    position: relative;
    border: solid 1px #c5ccd0;

    button {
        display: block;
        width: 150px;
        background-color: #3f51b5;

        span {
            color: white;
        }
    }

    button:first-child {
        margin-bottom: 20px;
    }
}

.filter-post {
    div[role^="dialog"] {
        width: 400px;

        .creator-filter-title {
            display: block;
            width: 100%;

            h6 {
                font-weight: 500;
            }
        }

        .filter-body {
            padding: 15px 30px;

            .checkbox {
                padding-left: 7px;
                margin-right: 40px !important;
                margin-bottom: 20px;
                align-items: center;
                margin-top: 7px;

                input[type="checkbox"] {
                    padding-right: 20px;
                    position: relative;
                }

                span {
                    padding: 0;
                    font-size: 0.9rem;
                    position: relative;
                    padding-right: 2px;
                    font-weight: 500;
                }
            }
        }

        .date-filter {
            margin: 10px 0;

            .date-picker {
                margin-bottom: 15px;
            }
        }
    }
}
.MuiMenuItem-root {
    font-family: "Gilroy", sans-serif !important;
}

.tox {
    border-radius: 4px !important;
}

// div[role="toolbar"]:nth-child(3) {
//     flex-grow: 1;

//     button {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//     }
// }

.tox-statusbar__text-container {
    align-items: center;
}

.tox-editor-header {
    width: 100%;
}

.create-post,
.post-box {
    .MuiInputBase-input {
        padding: 8px 24px 8px 16px;
        height: 28px;
    }

    .MuiDialogContent-root {
        padding: 30px !important;
    }

    .MuiSelect-select {
        display: flex;
        align-items: center;
        padding-left: 16px;
    }

    .MuiSelect-select {
        span {
            display: inline-block;
            z-index: 100;
        }
    }

    label {
        top: -6px;
        background-color: white;
        padding-right: 4px;
    }

    .Mui-focused,
    .MuiFormLabel-filled {
        top: 0;
    }

    div[role="dialog"] {
        min-height: 500px;
    }

    .tox-tinymce {
        border-radius: 4px;
    }

    .MuiPaper-root {
        width: 70%;
        min-width: 330px;
        max-width: 1200px;
    }

    .form-foot {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: calc(100% - 60px);
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: 14px;
        }

        .left-foot {
            display: flex;
            align-items: center;
            width: auto;

            .creator-avatar {
                margin-right: 15px;
            }
        }

        .attachment-btn {
            font-family: "Gilroy", sans-serif !important;
        }

        .right-foot {
            display: flex;
            align-items: center;

            span {
                display: flex;
                align-items: center;
            }

            .MuiButton-outlinedSizeSmall,
            button {
                padding: 6px 12px !important;
            }

            svg {
                font-size: 1rem;
                margin-right: 5px;
            }
        }
    }

    .form-control {
        width: 100%;
        margin-bottom: 20px;
    }

    .create-post-btn {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        margin-left: 15px;
        background-color: #3f51b5;
        color: white;
    }

    .create-post-btn:hover {
        background-color: #3f51b5;
    }
}

.list-instructors-filter {
    span {
        color: #8b8b8b;
        font-weight: 300;
    }

    margin-bottom: 15px !important;
}

.post-box {
    form {
        padding-top: 30px;
    }

    .edit-btn-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .exit-edit {
            display: flex;
            justify-content: flex-end;
            color: #7a7a7a;
        }

        .exit-edit:hover {
            color: #3f51b5;
            cursor: pointer;
        }
        .update-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
            padding: 6px 12px !important;
            background-color: #3f51b5;
            border-radius: 4px;
            color: white;
            font-weight: 400;

            svg {
                margin-right: 5px;
            }
        }
    }

    .form-foot {
        position: relative;
        width: 100%;
        left: 0;
        margin-top: 20px;

        .left-foot {
            display: none;
        }

        .right-foot {
            width: 100%;
            justify-content: flex-end;
        }
    }
}

.discussion-tag {
    margin-top: 25px;

    label {
        top: -6px;
        background-color: white;
        padding-right: 4px;
    }

    .Mui-focused,
    .MuiFormLabel-filled {
        top: 0;
    }

    .MuiInputBase-root {
        padding: 2px 5px !important;
    }

    .MuiInputBase-input {
        margin: 5px !important;
        padding: 0 !important;
        width: 0 !important;
    }

    button {
        box-shadow: none !important;
    }

    .MuiInputBase-root {
        display: flex;
    }
}

.discussion-post {
    .form-foot {
        position: relative;
        bottom: 25px;
        padding: 0;

        .right-foot {
            margin-left: auto;
        }
    }
}

.discussion-filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-discussion {
    padding: 25px;
    position: relative;
    border: solid 1px #c5ccd0;

    button {
        display: block;
        width: 150px;
        background-color: #3f51b5 !important;

        span {
            color: white;
        }
    }

    button:first-child {
        margin-bottom: 20px;
    }
}

.item-container {
    position: relative;
    margin-bottom: 30px;

    .edit-delete button {
        margin-top: 25px;
        margin-right: 25px;
    }
}

.editor {
    padding-top: 30px;
}

.no-answer {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.rec-arrow {
    background-color: transparent !important;
    box-shadow: none !important;
    color: white !important;
    position: fixed;
    z-index: 1500;
    top: 45vh;

    // @media (min-width: 1280px) {
    //     top: 42.5%;
    // }

    // @media (min-width: 1537px) {
    //     top: 50%;
    // }
}

.MuiDialog-container {
    height: 100vh !important;
}

.rec-arrow-left {
    left: 5%;

    @media (min-width: 1537px) {
        left: 10%;
    }
}

.hide {
    display: none;
}

.rec-arrow-right {
    right: 5%;

    @media (min-width: 1537px) {
        right: 10%;
    }
}

.rec-arrow:hover {
    transform: scale(1.1);
}

.discussion-modal .MuiPaper-root {
    width: 70%;
    min-width: 335px;
    max-width: 1200px;

    .discussion-item-con {
        padding: 30px;

        hr {
            margin: 0 -30px;
        }

        .comment-section {
            margin: 0 -30px -30px;
            padding: 30px 30px;
            background-color: #f3f6f9;
        }
    }

    .discussion-item {
        border-radius: 0;
        border: none;
        padding: 0;

        .header-modal {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .my-btn {
                span {
                    font-size: 0.8rem !important;
                }
            }

            .left-btn {
                color: #3f51b5;
                border: solid 1px #3f51b5;
                padding: 6px 12px !important;
            }
        }
    }
}

.discussion-item-container,
.discussion-modal {
    margin-bottom: 40px;

    .discussion-item {
        border: solid 1px #c5ccd0;
        display: flex;
        align-items: flex-start;
        padding: 30px;
        border-radius: 8px;

        .left {
            padding: 0 10px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3,
            span {
                display: flex;
                justify-content: center;
            }

            h3 {
                font-size: 1.85rem;
                margin-block: 0 !important;
                font-weight: 600;
            }

            span {
                font-size: 0.8rem;
            }

            .top,
            .bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            hr {
                margin: 10px 0 0;
            }

            .solved {
                color: #8dc883 !important;
            }
        }

        .right {
            padding: 0 25px;
            width: 100%;

            .header {
                margin-bottom: 20px;

                h6 {
                    color: #3f51b5;
                    margin-bottom: 2px;
                    font-weight: 500;
                    display: inline-block;
                    line-height: 2;
                }

                h6:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                .created-at {
                    span {
                        font-size: 0.8rem;
                        font-family: "Gilroy", sans-serif !important;
                    }
                }
            }

            .body-discussion {
                margin-bottom: 25px;
            }

            .tag-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 30px;

                .tag {
                    padding: 3px 8px;
                    font-size: 0.65rem;
                    margin-right: 10px;
                    // border: none;
                    background-color: #afcddd85;
                }
            }

            .btn-container {
                .my-btn {
                    span {
                        font-size: 0.9rem !important;
                    }
                }

                .left-btn {
                    color: #3f51b5;
                    border: solid 1px #3f51b5;
                    padding: 6px 12px !important;
                    margin-right: 20px;
                }

                .right-btn {
                    color: white;
                    border: solid 1px #3f51b5;
                    padding: 6px 12px !important;
                    margin-right: 20px;
                    background-color: #3f51b5;
                }
            }
        }
    }
}

.is-voted {
    h3,
    svg,
    span {
        color: #3f51b5;
    }
}

.not-enrolled-box {
    text-align: center;
    margin-top: -235px !important;
    background-color: white !important;

    h3 {
        margin-top: 60px;
        color: #3f51b5;
        font-weight: 600;
    }

    p {
        margin-top: 5px;
        font-size: 1.35rem;
        color: #8a8a8a;

        span {
            color: black;
            font-weight: 500;
        }
    }

    .join-btn {
        margin: 20px auto 10px;
        background-color: #3f51b5;
        padding: 8px 20px !important;

        span {
            color: white;
            font-size: 1.25rem;
        }
    }
}

.blurred {
    filter: blur(3px);
}

.post-item-container {
    position: relative;

    .locked-post {
        position: absolute;
        font-size: 8rem;
        top: calc(40% - 5rem);
        left: calc(50% - 3.5rem);
        color: rgba(63, 81, 181, 0.5);
    }
}

.discussion-answer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;

    &-left {
        width: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 8px;

        .MuiIconButton-root {
            padding: 2px !important;
        }
    }

    &-right {
        font-family: "Gilroy", sans-serif !important;
        border: solid 1px #c5ccd0;
        background-color: white;
        border-radius: 8px;
        min-height: 135px;
        flex-grow: 1;
        position: relative;
        padding: 20px;
        padding-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        width: 528px;
    }

    &-creator {
        margin: 12px 32px 0 0 !important;
        font-family: "Gilroy", sans-serif !important;
        width: auto;
        align-self: flex-end;
        max-width: 185px;

        &-photo {
            width: auto;
            margin-right: 10px !important;
            padding: 4px 0;

            .MuiAvatar-root {
                width: 28px;
                height: 28px;
            }
        }

        &-data {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &-profile {
            width: calc(100% - 55px);
        }

        &-name {
            width: 100%;
            color: #3f51b5 !important;

            h6 {
                white-space: nowrap;
                font-weight: 500 !important;
                overflow: hidden;
                width: 100%;
                text-overflow: ellipsis;
                font-size: 0.8rem;
            }
        }

        &-role {
            width: 100%;
            text-overflow: ellipsis;
            font-size: 0.7rem;
        }

        &-date {
            color: #7a7a7a;
            font-size: 0.6rem;
            text-overflow: ellipsis;
        }
    }

    &-body {
        flex-grow: 1;
        position: relative;
        padding-right: 64px;
        width: 100%;
        display: inline-block !important;
    }
}

.react-mathjax-preview-result {
    width: 100%;
    display: inline-block;
    word-wrap: break-word;
}

.no-discussion-answers {
    text-align: center;
    background-color: #e2e2e2;
    color: #7a7a7a;
    font-weight: 400 !important;
    border-radius: 4px;
    padding: 8px;
    margin-top: 25px;
}

.three-dots {
    position: absolute !important;
    top: 5px;
    right: 0;

    button {
        min-width: 0 !important;
    }
}

.popper-option {
    position: relative;
    padding: 16px;
    padding-top: 12px;
    width: 150px;
    border: solid 2px #3f51b5 !important;
    border-radius: 10px !important;

    h6 {
        margin-bottom: 8px;
        text-transform: uppercase;
    }

    button {
        background-color: white !important;
        display: block !important;
        font-weight: 500;
        font-family: "Gilroy", sans-serif !important;
        width: 100%;
        box-shadow: none !important;
        padding: 2px !important;

        span {
            font-size: 0.9rem;
        }

        &.edit {
            border: solid 2px #3f51b5 !important;
            color: #3f51b5;
            margin-bottom: 6px;
        }

        &.delete {
            border: solid 2px maroon !important;
            color: maroon;
        }
    }

    &::after {
        position: absolute;
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        top: 12px;
        right: -4.8px;
        background-color: white;
        transform: rotate(-45deg);
        border-right: solid 2px #3f51b5;
        border-bottom: solid 2px #3f51b5;
    }
}

.post-answer-btn {
    margin-top: 10px !important;
    background-color: white !important;
}

.course-popper-menu {
    .MuiList-padding {
        padding: 0 !important;
    }
}

.no-item-yet {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    margin-bottom: 60px;
}

.syllabus-dialog {
    
    .MuiDialog-paper {
        width: clamp(340px, 80%, 800px);
        max-height: 450px;
    }
    
    .MuiDialogTitle-root {
        h2 {
            font-size: 1.2rem !important;
            font-weight: 600;
        }
    }

    .MuiDialogContent-root {
        padding: 0 24px 20px !important;
    }

    .no-syllabus-yet {
        margin: 48px auto 64px;
        font-family: 'Gilroy', sans-serif !important;
        color: rgba(0, 0, 0, .6);
        font-size: 16px;
        font-weight: 400;
    }

    .syllabus {
        &-item {
            hr {
                margin: 16px 0;
                background-color: #c5ccd0;
            }

            &-title {
                font-weight: 500;
                margin-bottom: 16px;
            }

            &-description {
                margin-bottom: 16px;
            }

            &-date {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                svg {
                    font-size: 1.2rem;
                    margin-right: 8px;
                }

                &-text {
                    font-family: 'Gilroy', sans-serif !important;
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
    }
}